# ======================================
# 🌐 Next.js Configuration
# ======================================
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
JWT_SECRET=your_jwt_secret_here
# base64 gen code: openssl rand -base64 48
# [Convert]::ToBase64String([System.Security.Cryptography.RandomNumberGenerator]::GetBytes(48))

# ======================================
# 🗄️ Database Configuration
# ======================================
# Config Local/dev: (Sin comillas "")
# DATABASE_URL=postgresql://postgres:"contraseña"@localhost:5432/"Nombre de la base de datos"?schema=public
DATABASE_URL=postgresql://postgres@localhost:5432/devurity?schema=public

# 🔁 Cache Overrides (usar valores temporales en desarrollo)
NEXT_PUBLIC_UPDATES_CACHE_REV=stable  # Cambiar a "dev" para forzar recarga en desarrollo

# ======================================
# 📧 Email Configuration
# ======================================
# https://myaccount.google.com/u/0/apppasswords
SERVER_EMAIL=gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
SECURE=false
EMAIL=your_email@example.com
KEY_EMAIL=your_app_password_here

# ======================================
# 🏠 Domain Configuration
# ======================================
# NEXT_PUBLIC_APP_URL es la única variable de dominio necesaria en deploy.
# En producción cambiarla a algo como: https://devurity-web.vercel.app/
