@import "tailwindcss";

:root {
  --background: #171212;
  --foreground: #ffffff;
  --buttons: #CA2B26;
  --link: #F66661;
  --selected: #555555;
  --placeholder: #2E2E2E;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-buttons: var(--buttons);
  --color-link: var(--link);
  --color-selected: var(--selected);
  --color-placeholder: var(--placeholder);
}

body {
  background: var(--background);
  color: var(--foreground);
}